<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .test {
            color: #280707;
        }
    </style>
</head>
<body>
<div layout:fragment="content" >
    <h2>SafeSummit – это безопастное погружение в мир гор!</h2>
    <p>Каждый поход — это настоящее приключение, путь к вершине горы и внутрь себя.
        За 10 лет мы сводили в горы более 3500 человек, организовали 250+ экспедиций и открыли 7 направлений для
        трекингов и восхождений.</p>
</div>
</body>
</html>

